.one{
    border: 1px solid green;
width: 100px;
height: 160px;
margin: 10px;
border-radius: 5px;
margin-top: 0px;
box-shadow:red 5px 5px 8px;
background-color: white;
font-weight: bold;
padding-top: 3px;
text-align: center;
}
.two{
    width: 100px;
height: 160px;
border: 1px solid green;
margin: 10px;
border-radius: 5px;
margin-top: 0px;
box-shadow:red 5px 5px 8px;
background-color:white;
font-weight: bold;
padding-top: 3px;
text-align: center;
}
.three{
    width: 100px;
height: 160px;
border: 1px solid green;
margin: 10px;
border-radius: 5px;
margin-top: 0px;
box-shadow:red  5px 5px 8px;
background-color:white;
font-weight: bold;
padding-top: 3px;
text-align: center;
}
.parent{
    display: flex;
    padding-left: 100px;
}
p{
    text-decoration: line-through;
    color:rgb(238, 130, 171);
    text-align: center;
}
h1{
    margin-left: 120px;
   
}
i{
     margin-left:150px;
     background-color:chartreuse;
     
}
 .b1{
     font-size: 20px;
     margin-left: 100px;
    text-shadow: rgb(209, 211, 82) 5px 5px 4px;
    color: rgb(21, 206, 21);
}
.b2{
    font-size: 25px; 
    font-family:'Courier New', Courier, monospace;
    font-weight: -100;
    text-shadow: rgb(209, 211, 82) 5px 5px 4px;
    color: rgb(21, 206, 21);
}
.sujal1{
    height: 120px;
    width: 200px;
    border:green solid 2px;
    margin-left: 100px;
   background-color: white;
   position: absolute;
   left:80px;
   top: 80px;
   border-radius: 10x;
   box-shadow: rgb(255, 123, 71) 5px 5px 10px;
   text-align: center;
   

}
.parent1{
    position: absolute;
    filter: blur(2px);
}
form{
    
    padding: 10px;
    color: tomato;
  
  
}
 input{
    /* width: 100px; */
    height: 8px;
    font-size: 8px;

} 
button{
    border-radius: 8px;
    background-color: red;
    
}
.one:hover{
    background-color: rgba(192, 192, 192, 0.774);
}

h1 {
    font-family: sans-serif;
    margin: 20px 20px;
    color: #228B22;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
  }
  
  h1:before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
  }
  
  h1:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  }
